<div class="parentBox">
  <p>我是父节点:{{parentMessage}}</p>
  <p>父页面的parentObj:</p>
  <p>姓名：{{parentObj.name}}</p>
  <p>性别：{{parentObj.sex?"男":"女"}}</p>
  <p>年龄：{{parentObj.age}}岁</p>
  <div>
    <button nz-button nzType="primary" (click)="getChildClonedParentObj()">父页面直接获取子页面数据</button>
  </div>
  <div>
    <button nz-button nzType="primary" (click)="changeChildData()">父页面改变子组件的值</button>
  </div>
</div>
<div class="childBox">
  <p>我是子节点</p>
  <app-child [parentMessage]="parentMessage" [parentObj]="parentObj"
    (clonedParentObjChange)="onClonedParentObjChange($event)"></app-child>
</div>